@import url('//fonts.googleapis.com/css?family=PT+Serif');

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'PT Serif', sans-serif;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

/*---------------------------------------------*/

/*--------------------header-------------------------*/

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999999999 !important;
  -webkit-box-shadow: 8px 3px 24px #888888;
  -moz-box-shadow: 8px 3px 24px #888888;
  box-shadow: 8px 3px 24px #888888;
}

header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

header nav img {
  width: 100px;
}

/*--------------------header-------------------------*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 110px 10px 30px 10px;
  background: transparent;
  position: relative;
  z-index: 1;
  background-image: url(../images/google-map-background3.png);
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrap-contact100 {
  width: 520px;
  background: #fff;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  overflow: hidden;
  padding: 0px 35px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 20px;
}

.label-input100 {
  font-size: 1rem;
  line-height: 1.5;
  color: #2d3436;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 1rem;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219, 21, 99, 1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.qr-image {
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
}

/*---------------------------------------------*/
input.input100 {
  height: 40px;
}

textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
select {
  width: 100%;
  border: 0;
  display: block;
  width: 100%;
  background: transparent;
  line-height: 1.2;
  padding: 0 5px;
  height: 40px;
  font-size: 1rem;
  color: #333333;
  outline: 0;
}

select:focus {
  border: 0;
}

/*------------------------------------------------------------------
[ file input field ]*/
input[type='file'] {
  opacity: 0;
  height: 0;
}

.file-input-label {
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
}

.file-wrap {
  border: 2px solid #d9d9d9;
}

.button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0 10px 0;
}

/* button style */
.submit-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 45px;
  width: 200px;
  border: 2px solid #3498db;
  margin: 20px 20px 20px 20px;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  outline: 0;
  color: #3498db;
  font-size: 1rem;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
  transition: background-color, box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s,
    -webkit-transform 0.5s, -moz-transform 0.5s, -o-transform 0.5s;
}

.submit-button:hover {
  -webkit-box-shadow: 0px 8px 10px -2px #00000070;
  -moz-box-shadow: 0px 8px 10px -2px #00000070;
  box-shadow: 0px 8px 10px -2px #00000070;
  -webkit-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px);
  -o-transform: translate(0, -3px);
  transform: translate(0, -3px);
}
.submit-button:active {
  background-color: #e5e5e5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  -moz-transition-duration: 10ms;
  -o-transition-duration: 10ms;
  transition-duration: 10ms;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::after {
  content: '!';
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  right: 20px;
  font-weight: bolder;
  bottom: 12px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/* spineer icon */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border: 2px solid #3498db;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -moz-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -o-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3498db transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay: -0.45s;
  -o-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  -o-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
  -moz-animation-delay: -0.15s;
  -o-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

/* server message */
#server-message {
  position: fixed;
  right: 0;
  top: 100px;
  width: 280px;
  z-index: 99999999999999999 !important;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  border-radius: 8px 0 0 8px;
  -webkit-box-shadow: -9px 7px 25px #34495e;
  -moz-box-shadow: -9px 7px 25px #34495e;
  box-shadow: -9px 7px 25px #34495e;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: transform 1s, -moz-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  padding: 8px 0px 8px 28px;
}

.show-message {
  -webkit-transform: translateX(0px) !important;
  -moz-transform: translateX(0px) !important;
  -ms-transform: translateX(0px) !important;
  -o-transform: translateX(0px) !important;
  transform: translateX(0px) !important;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes lds-ring {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes lds-ring {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bar-code {
  right: 65px;
}

.text-important {
  font-size: 12px;
  color: red;
  margin-bottom: 8px;
}

/* qrcode bar code styles */

#qrcode-wrapper {
  display: none;
  z-index: 99999999999 !important;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close {
  height: 35px;
  width: 35px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 18px;
  background: gray;
  color: white;
  border: 3px solid white;
  outline: 0;
  z-index: 9999999999999999 !important;
  position: absolute;
  margin: 30px;
  cursor: pointer;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bolder;
}

#qr-reader {
  width: 100% !important;
  height: 100% !important;
}

video {
  width: 100% !important;
  height: 100% !important;
}

canvas {
  display: none !important;
}
/* qrcode bar code styles end */

.form-success-message {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #27ae60;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
  margin: 20px 0 10px 0;
  outline: 0;
  border: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.show-form-success-message {
  opacity: 1 !important;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 62px 15px 20px 15px;
  }
}
